
body{
    font-family: Arial, Helvetica, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 90px;
}

.logo img {
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3d95b;
    padding: 0.5cm;
    flex-wrap: wrap;
}

.links a{
    padding: 0.5cm;
}

.links ul{
    display: flex;
    flex-wrap: wrap;
}

.links ul li{
    margin-left: 1.5cm;
}

@media(max-width: 450px){

    .links {
        flex-direction: column;
    }

    .links ul{
        justify-content: center;
    }

    .links ul li:first-child{
        margin-left: 0cm;
    }

    .links ul li{
        margin-left: 1cm;
    }

    .navbar ul {
        flex-direction: column;
    }
}

.icone-link {
    width: 25px;
    height: 25px;
}

.icone-link img{
    width: 100%;
}

.navbar {
    background-color: black;
    padding: 15px 0 15px 0;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    margin: 10px;
}

.navbar ul li a{
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: lighter;
    text-decoration: none;
}

.banner {
    align-self: center;
    margin-bottom: 15px;
}

.banner img{
    border-radius: 15px;
    width: 100%;
}

.main-home {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.destaques {
    border-radius: 10px;
    background-color: whitesmoke;
}

.lista-destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    width: 120px;
    height: 120px;
}

.card-destaque .imagem-destaque{
    width: 64px;
    height: 64px;
}

.imagem-destaque img{
    width: 100%;
}

.card-destaque span{
    margin-top: 10px;
}

.destaque-camisas {
    align-self: center;
    font-size: 25px;
    margin: 20px;
    border-bottom: 1px solid grey;
}

.cards-container {
    display: grid;
    grid-template-areas: 
    "card card card card";
    
    margin: auto;
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 2px ridge gray;
    background-color: whitesmoke;

    min-width: 120px;
    max-width: 220px;
    
    grid-area: "card";
    
}

.card span {
    margin-top: 5px;
}

.card a {
    margin-top: 10px;
}

.card .adicionar {
    margin-bottom: 15px;
}

.card div{
    width: 100%;
    height: 100%;
}

.card div img{
    width: 100%;
    border-bottom: 5px solid black;
}

.card .preco button{
    border: none;
    background-color: whitesmoke;
    color: darkslategray;
    font-size: 20px;
    cursor: pointer;
}

.card .adicionar button{
    font-size: 20px;
    padding: 5px;
    background-color: #aae3ab;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 2cm;
}

@media (max-width: 900px){
    .cards-container {
        grid-template-areas: 
        "card card card";
    }

    .card {
        max-width: 200px;
    }
}

@media (max-width: 700px){
    .cards-container {
        grid-template-areas: 
        "card card";
    }

    .card {
        max-width: 180px;
    }

}

@media (max-width: 480px){
    .cards-container {
        grid-template-areas: 
        "card";
    }
}

.catalogo aside{
    width: 150px;
}

.catalogo aside ul{
    display: flex;
    flex-direction: column;
}

.catalogo aside h2{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.catalogo aside h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.catalogo aside a{
    font-size: 15px;
}

.catalogo aside ul li{
    margin-bottom: 20px;
}
.catalogo aside ul li ul li{
    display: flex;
    justify-content: flex-start;
}

.catalogo aside ul li a{
    color: black;
    text-decoration: none;
}

@media(max-width: 480px){
    
}

.catalogo {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagamento form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    background-color: whitesmoke;
}

.pagamento .colunas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pagamento .coluna{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pagamento .linha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.campo{
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 10px;
}

.campo input {
    padding: 12px;
    border: 1px solid grey;
    border-radius: 8px;
}

.cartoes{
    width: 250px;
}

.cartoes img{
    width: 100%;
}

form .finalizar {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    background-color: #a3d95b;
}


.finalizar input {
    border: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
    background-color: #a3d95b;
}

@media(max-width:600px){
    .cartoes{
        width: 200px;
    }
}

@media(max-width:320px){
    .cartoes{
        width: 120px;
    }
    .campo input{
        width: 130px;
    }
}

.main-login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}
.main-login h1{
    font-size:180%;
    margin-bottom: 35px;
}
.main-login p{
    font-size: 90%;
}
.main-login a{
    font-size: 90%;   
    color: rgb(17, 105, 187);
    text-decoration: none;
    margin-bottom: 35px;
}
.main-login input{
    padding: 5px;
    margin-bottom: 10px;
}

.login-box{
    background-color: transparent;
    border: rgba(0, 160, 99, 0.692) solid 2px;
    border-radius: 10%;
    padding: 40px;
    margin: 100px 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.login-button{
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    padding: 5% 25%;
    background-color: rgb(17, 105, 187);
    color: white;
    cursor: pointer;
}

@media(max-width: 650px){
    .main-login{
        padding: 0px;
    }

    .login-box{
        margin: 50px 30px;
    }
}

.info-camisa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-camisa h1{
    font-size:180%;
    margin-bottom: 35px;
}
.info-camisa p{
    font-size: 90%;
}
.info-camisa a{
    font-size: 90%;   
    color: rgb(17, 105, 187);
    text-decoration: none;
    margin-bottom: 35px;
}
.info-camisa input{
    padding: 5px;
    margin-bottom: 10px;
}

.box-desc{
    min-width: 200px;
    max-width: 340px;
    background-color: transparent;
    border: gray solid 1px;
    border-radius: 10%;
    padding: 40px;
    margin: 50px 10px;
}

.box-desc img{
    width: 100%;
}

.box-desc p{
    margin: 5px 0px;
}
.box-desc h2{
    font-size: 35px;
    color: green;
}
.box-desc input{
    background-color: #a3d95b;
    border-radius: 6px;
    width: 30px;
}
.box-desc button{
    font-size: 20px;
    padding: 5px 15px;
    background-color: #aae3ab;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px 0px;
}
